#dot-ai-section {
    margin-left: 30px;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: fit-content;
    max-width: 350px;
}
